{% extends 'portfolio/layout.html' %}

{% block main %}
	<h1 class="titulo">Licenciatura de Informatica de Gestão</h1>

    <div class="contentor">
        <div class="cadeiras">
            <div class="ano1">
                <h2 class="ano">1ºANO</h2>
                {% for cadeira in cadeiras %}
                    {% if cadeira.ano == 1 %}
                        <div class="cadeira">
                            <h2>{{ cadeira.nome }}</h2>
                            <p class="topicos"><p1 style="font-size: 18px;">Tópicos da cadeira: </p1> <br>{{ cadeira.topicos }}</p> <br>
                            <p>ECTS : {{ cadeira.ects }} &nbsp;&nbsp; Realizado em: {{ cadeira.realizacao }}</p>
                            <p> <a href="{{ cadeira.pagCadeira }}" >Pagina da Cadeira</a> &nbsp;&nbsp;&nbsp; Pofessor : {{ cadeira.pofessor. }}</p>
                            <p>
                        {% if cadeira.classicicacao == 0 %}
                            <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                        {% elif cadeira.classicicacao == 1 %}
                            <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                        {% elif cadeira.classicicacao == 2 %}
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                        {% elif cadeira.classicicacao == 3 %}
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                        {% elif cadeira.classicicacao == 4 %}
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                        {% else %}
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                        {% endif %}

                    </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="ano2">
                <h2 class="ano">2ºANO</h2>
                {% for cadeira in cadeiras %}
                    {% if cadeira.ano == 2 %}
                        <div class="cadeira">
                            <h4 >{{ cadeira.nome }}</h4>
                            <p class="topicos"><p1 style="font-size: 18px;">Tópicos da cadeira: </p1> <br>{{ cadeira.topicos }}</p>
                            <p class="#">ECTS : {{ cadeira.ects }} &nbsp;&nbsp; Realizado em: {{ cadeira.realizacao }}</p>
                            <p class="#"> <a href="{{ cadeira.pagCadeira }}" class="#">Pagina da Cadeira</a> &nbsp;&nbsp;&nbsp; Pofessor : {{ cadeira.pofessor }}</p>
                            <p>
                        {% if cadeira.classicicacao == 0 %}
                            <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                        {% elif cadeira.classicicacao == 1 %}
                            <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                        {% elif cadeira.classicicacao == 2 %}
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                        {% elif cadeira.classicicacao == 3 %}
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                        {% elif cadeira.classicicacao == 4 %}
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                        {% else %}
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                        {% endif %}

                    </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="ano3">
                <h2 class="ano">3ºANO</h2>
                {% for cadeira in cadeiras %}
                    {% if cadeira.ano == 3 %}
                        <div class="cadeira">
                            <h4 >{{ cadeira.nome }}</h4>
                            <p class="topicos"><p1 style="font-size: 18px;">Tópicos da cadeira: </p1> <br>{{ cadeira.topicos }}</p>
                            <p class="#">ECTS : {{ cadeira.ects }} &nbsp;&nbsp; Realizado em: {{ cadeira.realizacao }}</p>
                            <p class="#"> <a href="{{ cadeira.pagCadeira }}" class="#">Pagina da Cadeira</a> &nbsp;&nbsp;&nbsp; Pofessor : {{ cadeira.pofessor }}</p>
                            <p>
                        {% if cadeira.classicicacao == 0 %}
                            <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                        {% elif cadeira.classicicacao == 1 %}
                            <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                        {% elif cadeira.classicicacao == 2 %}
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                        {% elif cadeira.classicicacao == 3 %}
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                        {% elif cadeira.classicicacao == 4 %}
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                        {% else %}
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                        {% endif %}

                    </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


    <h1 class="titulo">Educação</h1>

    <h1 class="titulo">Aptidões e competências pessoais</h1>

    <h1 class="titulo">Interesses e hobbies</h1>


{% endblock %}
