{% extends 'portfolio/layout.html' %}


{% block main %}
<div class="hero">
    <div class="detel">
        <h1>Rafael <span>Sousa</span></h1>
        <p>Este é o meu site oficial do Portfólio para dar a conhecer a todos <br>
            os meus trabalhos e um pouco de mim.</p>
        <a href="#">Download CV</a>
    </div>
    {% load static %}
    <div class="images">
        <img src="{% static 'portfolio/images/shape.png' %}" class="shape" alt="">
        <img src="{% static 'portfolio/images/tartaruga.png' %}" class="foto" alt="">
    </div>

    <div class="social">
        <a href="https://www.linkedin.com/in/rafael-sousa-114207187/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/"><i class="fab fa-github"></i></a>
    </div>

</div>

{% endblock %}
