{% extends 'portfolio/layout.html' %}


{% block main %}
    <div class="hero">
        <div class="detel">
            <h1>Rafael <span>Sousa</span></h1>
            <p>Este é o meu site oficial do Portfólio para dar a conhecer a todos <br>
                os meus trabalhos e um pouco de mim.</p>
            <a href="#">Download CV</a>
        </div>
        {% load static %}
        <div class="images">
            <img src="{% static 'portfolio/images/shape.png' %}" class="shape" alt="">
            <img src="{% static 'portfolio/images/tartaruga.png' %}" class="foto" alt="">
        </div>

        <div class="social">
            <a href="https://www.linkedin.com/in/rafael-sousa-114207187/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/RGSousa99"><i class="fab fa-github"></i></a>
        </div>

    </div>
    <div class="info">
            <article>
                <h2 class="titulo_h">Porquê Informática de Gestão?</h2>
                <p class="texto_h">
                  Neste curso há uma integração entre duas partes especialmente importantes para empresas,
                  as tecnologias e a gestão dessa mesma tecnologia. Como sempre gostei e sempre tive muita coriosidade
                    nesta area então decidi que este era uma licenciatura mais indica para mim.
                </p>
            </article>
            <article>
                <h2 class="titulo_h">O que mais tenho gostado no curso?</h2>
                <p class="texto_h">
                  Este curso premitiume ganhar ainda mais gosto por esta area e de aprender a utilizar diversas
                  tecnologias e conseguir solucionar problemas de formas diferentes. Sentindo meassim mais capaz de
                    enfrentar futuros desafios.
                </p>
            </article>
            <article>
                <h2 class="titulo_h">O que pretendo fazer quando acabar o curso?</h2>
                <p class="texto_h">
                    Quando concluir o curso pretendo ter adquirido conhecimentos suficientes na area para conseguir
                    proceguir na minha vida neste mundo de tecnologia e fazer o que mais gosto.
                </p>
            </article>
    </div>

{% endblock %}
