{% extends 'portfolio/layout.html' %}


{% block main %}
<div class="hero">
    <div class="detel">
        <h1>I'M Rafael <span>Sousa</span></h1>
        <p>Texto texto e muito texto para ser mais texto e facar com texto aqui<br>
            cor par ser texto e ter alguma cor.</p>
        <a href="#">Downdload CV</a>
    </div>
    {% load static %}
    <div class="images">
        <img src="{% static 'portfolio/images/shape.png' %}" class="shape" alt="">
        <img src="{% static 'portfolio/images/tartaruga.png' %}" class="foto" alt="">
    </div>

    <div class="social">
        <a href="https://www.linkedin.com/in/rafael-sousa-114207187/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/"><i class="fab fa-github"></i></a>
    </div>

</div>

{% endblock %}
