{% extends 'portfolio/layout.html' %}
{% load cloudinary %}

{% block main %}
    {% load static %}
    <div class="b_titulo">
	    <h1 class="titulo">Os meus projetos</h1>
        {% if request.user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'portfolio:novoProjeto' %}" role="button" >Nova projeto</a>
        {% endif %}
    </div>
    <div class="contentor">
        <div class="projetos">
            {% for projeto in projetos %}
                <h3 class="titulo_pw">{{ projeto.titulo }}</h3>
                <div class="projeto">


                    <div class="descricao" > {{ projeto.descricao }} </div>
                    <div class="imagem_p">
                        <img src="{{ projeto.imagem.url }}" alt="">
                    </div>
                    <div class="detalhes">
                        Realizado a: {{ projeto.realizacao }}<a href="{{ projeto.cadeira }}" >, na cadeira de: {{ projeto.cadeira.nome }}</a>

                        Participantes: {{ projeto.participantes.nome }}
                        <a href="{{ projeto.participantes.linkedin}}" ><i class="fab fa-linkedin" style="font-size:20px"></i></a>
                        <a href="{{ projeto.participantes.pagAPP}}" ><img class="heroku" src="{% static 'portfolio/images/heroku.png' %}"  alt=""></a>



                        <p>Tecnologias:   {{ projeto.tecnologias }}  </p>
                        <p>Competencias:   {{ projeto.competencias }} </p>

                        {% if request.user.is_authenticated %}
                            <a href="{% url 'portfolio:editarProjeto' projeto.id %}">Editar</a>
                            <a href="{% url 'portfolio:apagarProjeto' projeto.id %}">Apagar</a>
                        {% endif %}
                    </div>
                    <div class="cloud">
                        <p>
                            <a href="{{ projeto.github }}" ><i class="fab fa-github" style="font-size:40px"></i></a> &nbsp; &nbsp;
                            <a href="{{ projeto.youtube }}" ><i class="fab fa-youtube" style="font-size:40px"></i></a>
                        </p>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
