{% extends 'portfolio/layout.html' %}

{% block main %}
	<h1 class="titulo">Os meus projetos</h1>

    <div class="container">
        <div class="A1S1">
                <div>
                    <h2>Contabilidade</h2>
                    <p>
                        6 ECTS, <br>
                        2021/2022,<br>
                        <p class="tooltip"> Topicos abordados <span class="tooltiptext"> Visa transmitir conhecimentos técnicos contabilísticos e capacidade para interpretar Mapas de
                        Demonstrações Financeiras, necessárias numa gestão moderna e participativa que integra todos os
                        gestores funcionais, entre os quais, o gestor informático, como ferramenta de trabalho, face aos desafios
                        de um mercado competitivo e global. </span> </p> <br>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> <br>
                        <a href="https://www.linkedin.com/in/lee-doo-hieng-9338b768/">Professor: Lee Doo Hieng</a><br>
                        <a href="https://www.ulusofona.pt/licenciaturas/informatica-de-gestao/contabilidade/ULHT12-1796">Página da cadeira </a><br>

                    </p>
                </div>

                <div>
                    <h2>Fundamentos de Programação</h2>
                    <p>
                        6 ECTS, <br>
                        2021/2022,<br>
                        <a href="#" target="_blank" title="O objectivo desta unidade curricular é fornecer aos futuros profissionais na área da informática as
                         bases para que possam iniciar (de um modo disciplinado) a actividade de programação.">Topicos abordados
                        </a> <br>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><br>
                        <a href="https://www.linkedin.com/in/palves/">Professor: Pedro Alves</a><br>
                        <a href="https://www.ulusofona.pt/licenciaturas/informatica-de-gestao/fundamentos-de-programacao/ULHT12-7337">Página da cadeira </a><br>

                    </p>
                </div>

                <div>
                    <h2>Fundamentos de Sistemas de Informação</h2>
                    <p>
                        7 ECTS, <br>
                        2021/2022,<br>
                        <a href="#" target="_blank" title="Visa transmitir conhecimentos técnicos contabilísticos e capacidade para interpretar Mapas de
                            Demonstrações Financeiras, necessárias numa gestão moderna e participativa que integra todos os
                            gestores funcionais, entre os quais, o gestor informático, como ferramenta de trabalho, face aos desafios
                            de um mercado competitivo e global.">Topicos abordados
                        </a> <br>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> <br>
                        <a href="https://www.linkedin.com/in/ac%C3%A1cio-carmona-3956544/">Professor: Acácio Carmona</a><br>
                        <a href="https://www.ulusofona.pt/licenciaturas/informatica-de-gestao/fundamentos-de-sistemas-de-informacao/ULHT12-8334">Página da cadeira </a><br>

                    </p>
                </div>
        </div>
    </div>


{% endblock %}
