{% extends 'portfolio/layout.html' %}

{% block main %}
	<h1 class="titulo">Os meus projetos</h1>

    <div class="contentor">
        <div class="projetos">
            {% for projeto in projetos %}

                <div class="projeto">
                    <h3>{{ projeto.titulo }}</h3>
                    <p>descricao      {{ projeto.descricao }}      </p>
                    <p>imagem         <img src="{{ projeto.imagem }}">      </p>
                    <p>realizacao     {{ projeto.realizacao }}     </p>
                    <p>cadeira        {{ projeto.cadeira }}      </p>
                    <p>participantes  {{ projeto.participantes }}      </p>
                    <p>github         {{ projeto.github }}      </p>
                    <p>youtube        {{ projeto.youtube }}      </p>
                    <p>tecnologias    {{ projeto.tecnologias }}      </p>
                    <p>competencias   {{ projeto.competencias }}      </p>
                </div>
            {% endfor %}
        </div>
    </div>

937386538
{% endblock %}
