{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}

    <h1 class="titulo_pw">Mapa do site e tecnologias usadas</h1>
    <div class="contentor">
    
    </div>
    <h1 class="titulo_pw">Laboratórios</h1>
    <div class="contentor">
        <div class="labs">
            <a class="btn" href="https://pw-labs-rafaelsousa-a22002402.herokuapp.com/" role="button" ><img src="{% static 'portfolio/images/labs.png' %}"></a>
        </div>
    </div>

    <h1 class="titulo_pw">Notícias</h1>
    <div class="contentor">
        {% for noticia in noticias %}
             <div class="post">
                 <h4 class="p_titulo">{{ noticia.titulo }}</h4>
                 <p class="p_texto">{{ noticia.texto }}</p>
                 <p class="card-text">{{ noticia.link }}</p>
             </div>
        {% endfor %}
    </div>

{% endblock %}
