{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}

    <h1>Mapa do site e tecnologias usadas</h1>
    <div class="contentor">
    
    </div>

    <div class="contentor" style="margin-top: 60px">
        <div class="labs">
            <a class="btn btn-primary " href="https://pw-labs-rafaelsousa-a22002402.herokuapp.com/" role="button">Pode consultalos aqui</a>
        </div>
    </div>
    
    <h1>Notícias</h1>
    <div class="contentor">
        
    </div>

{% endblock %}
