.titulo_pw{
    text-align: center;
}


.labs{
}

.labs a{

}

.labs img {
    width: 100%;
}

.noticia{
    width: 100%;
    height:auto;
    border-radius: 10px;                 /* arredonda os cantos */
    box-shadow: 5px 5px 15px grey;
    padding: 20px;
    background-color: white;
    margin: 25px;
}
.noticia img {
    width: 100%;
}