.contentor .projetos {
  background-color: rgba(44, 51, 56, 0.4);
  border-radius: 10px;
  width: 60vw;
  padding: 15px 15px 0 15px;
  outline: black solid;
}
.projeto h3 {
  height: 0;
  position: relative;
  top: 30px;
}

.contentor .projeto {

  float: left;
  margin-bottom: 20px; width: 100%;
  padding: 60px 25px 25px;
  background-color: white;
  border-radius: 10px;                 /* arredondar cantos */
  box-shadow: 5px 5px 15px grey;
  outline: #b4b4b4 solid;
  display: grid;
  grid-template-columns: 60% 40%;
}

.heroku{
  position: relative;
  bottom: 3px;
  width:20px;
  height:20px;
}
.contentor .projeto a{
  text-decoration: none;
  color: black;
}
.titulo_p{
  text-align: center;
  position: relative;
  top: 20px;
  height: 0;
  z-index: 2;
}

.imagem_p {
    text-align: center;
    padding-top: 15px;
}

.descricao{
}
.imagem_p img{
  width: 80%;
}
.detalhes{
  position: relative;
  bottom: 70px;
  height: 70px;
}

.cloud{
  text-align: center;
  margin-top: 15px;
}

.contentor a {
    text-decoration: none;
    color: black;
}
.contentor a:hover {
    color: #003366;
}