.quizz {
    background-color: rgba(44, 51, 56, 0.4);
    border-radius: 10px;
    height:max-content;
    padding: 15px;
    text-align: center;
    outline: black solid;
    width: 50%;
    margin: 1.3rem auto;
    align-items: center;
}

.perguntas{
    text-align: left;
}

.q_titulo{
    text-align: center;

}

.resultados{
    text-align: center;
    margin: 20px;

}
.resultado{
    text-align: center;
}
