

.contentor {
  background-color: rgba(253, 193, 52, 0.8);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 45px 100px;
}

.contentor .cadeiras {
    background-color: rgba(99, 168, 218, 0.0);
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto auto auto;
    height:max-content;
}

.contentor .cadeira {

    float: left;
    width: 100%;   height: 50%;
    padding: 25px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;                 /* arredondar cantos */
    box-shadow: 5px 5px 15px grey;
    transition: color 1s;
    outline: #b4b4b4 solid;

}

.contentor .cadeira a{
  text-decoration: none;
  color: black;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}



.ano {
  padding: 10px 10px 0;

}

.ano1{
    border-radius: 10px;
    background-color: rgba(44, 51, 56, 0.4);
    margin-bottom: 20px;
    height:max-content;
    width: 100%;
    padding: 10px;
    outline: black solid;
}
.ano2{
    border-radius: 10px;
    background-color: rgba(44, 51, 56, 0.4);
    margin-bottom: 20px;
    height:max-content;
    width: 100%;
    padding: 10px;
    outline: black solid;

}
.ano3{
    border-radius: 10px;
    background-color: rgba(44, 51, 56, 0.4);
    margin-bottom: 10px;
    height:max-content;
    width: 100%;
    outline: black solid;
    padding: 10px;
}


.titulo{
  padding: 20px 100px
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}



.timeline{
	width:800px;
	background-color: #2c3338;
	color:#fff;
	padding:30px 20px;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
}
.timeline ul{
	list-style-type:none;
	border-left:2px solid #ffffff;
	padding:10px 5px;
}
.timeline ul li{
	padding:20px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}
.timeline ul li span{
	display:inline-block;
	background-color: #707070;
	border-radius:25px;
	padding:2px 5px;
	font-size:15px;
	text-align:center;
}
.timeline ul li .content h3{
	color: rgba(253, 193, 52, 0.8);
	font-size:17px;
	padding-top:5px;
}
.timeline ul li .content p{
	padding:5px 0px 15px 0px;
	font-size:15px;
}
.timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color: rgba(253, 193, 52, 0.8);
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
}
.timeline ul li:hover{
	background-color: #25292d;
}
.timeline ul li:hover:before{
	background-color:red;
	box-shadow:0px 0px 10px 2px red;
}

.data{
    color: white;
}

.hobbies{
    display: flex;
    text-align: center
}

.hobbies img {
    height: 100px;
    width: 100px;
    margin: 10px;
}

.hobbies .hobbie{
    padding: 30px;
}

.nova{
    padding: 20px 100px;
    width: 100%;
    text-align: center;
}

@media (max-width:300px){
	.timeline{
		width:100%;
		padding:30px 5px 30px 10px;
	}
	.timeline ul li .content h3{
		color:#34ace0;
		font-size:15px;
	}

}



