.contentor .projetos {
  background-color: rgba(44, 51, 56, 0.4);
  border-radius: 10px;
  height:max-content;
  width: max-content;
  padding: 15px;
  outline: black solid;
}

.contentor .projeto {

  float: left;  height: 100%;
  margin-bottom: 10px; width: 500px;
  padding: 25px;
  background-color: white;
  border-radius: 10px;                 /* arredondar cantos */
  box-shadow: 5px 5px 15px grey;
  outline: #b4b4b4 solid;

}

.heroku{
  position: relative;
  bottom: 3px;
  width:20px;
  height:20px;
}
.contentor .projeto a{
  text-decoration: none;
  color: black;
}