* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: sans-serif;
}

header {
  height: 10vh;
  background: #2c3338;
  color: white;
  top: 0;

  /* alinhando logo e menu */
  display:flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  font-size: 2em;
}

header div img{
  height: 55px;
  padding-left: 20px;
  padding-top: 5px;
}
header nav {
  display:flex;
  justify-contents: flex-end;
  text-transform: uppercase;
  padding-right: 10px;
}


nav a {
  padding: 0 1em;
  text-decoration: none;
  font-size: 1rem;
  color: lightgray;
}


main {
  height: 85vh;
  background-image: url("../images/image.71545ca28938.png");
  background-size:cover;
  background-repeat:no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height:5vh;
  display:flex;
  justify-content: flex-end;
  padding: 0 2vw;
  align-items: center;
}